.profile {
    max-width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 40px auto 0;
}

@media (max-width: 879px) {
    .profile {
        max-width: 769px;
    }
}

@media (max-width: 779px) {
    .profile {
        max-width: 685px;
    }
}