.profile__avatar {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

@media (max-width: 879px) {
    .profile__avatar {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 594px) {
    .profile__avatar {
        width: 125px;
        height: 125px;
    }
}